{{ if eq .machine_role "both" -}}
# Personal git overrides
# Applied automatically for repos under ~/dev/ via includeIf
[user]
    email = {{ includeTemplate "git-quote" .personal_email }}
{{ end -}}
